GCS_BUCKET_NAME="The name of the bucket"
JAHRESDATEI_TABLE_SRC_URIS='["gs://THE NAME OF THE BUCKET/jahresdatei/*.parquet"]'
STANDORTDATEN_TABLE_SRC_URIS='["gs://THE NAME OF THE BUCKET/standortdaten/*.parquet"]'
PREFECT_API_URL="http://prefect-server:4200/api"
TF_VAR_location="Use the same location used for the bucket"