export GOOGLE_CREDENTIALS="Path to service account key in json format"
export GOOGLE_PROJECT="ID of your Google Project"
export GOOGLE_REGION="The region to manage resources in"
export TF_VAR_location="The location of the bucket"
export TF_VAR_gcs_bucket_name="The name of the bucket"